{% extends "base.html" %}

{% block content %}
    <h1>Wypozyczonie Ksiazki: {{ wypozyczona_ksiazka.ksiazka.tytul }} </h1>
    <p>Wypozycza: {{ wypozyczona_ksiazka.wypozyczajacy }}</p>
    <p{% if wypozyczona_ksiazka.po_terminie %} class="text-danger"{% endif %}>Data zwrotu: {{ wypozyczona_ksiazka.data_zwrotu }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
{% endblock %}